
/*.absolute-img {
    top: 0;
    left: 0;

    width: 100%;
    height: auto;

    .absoluted;
    z-index: 4
}*/

#parallax-scene {
position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
#parallax-scene .layer {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#absolute-img-container {
  &-0,
  &-1,
  &-2,
  &-3,
  &-4,
  &-5 {
    .absoluted;
    > img {
      width: 40%;
      .absoluted;
    }
  }

  &-0 {
  background-image: url("/img/tuning_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
      &:before {
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      opacity: .85;
      background-color: #000;
  }
  }
  &-1 {

      > img {
        top: 7%;
        left: 5%;
        max-width: 285px;
      }
  }

  &-2 {

    > img {
      top: 23%;
      right: 2%;
      max-width: 271px;
    }
  }

  &-3 {
    > img {
      right: 30%;
      bottom: 60%;
      max-width: 576px;
    }
  }

  &-4 {
    > img {
      bottom: 2%;
      right: 6%;
      max-width: 392px;
    }
  }

  &-5 {
    > img {
    bottom: 7%;
    left: 4%;
    max-width: 544px;
    }
  }
}
