
.absolute-img {
    top: 0;
    left: 0;

    width: 100%;
    height: auto;

    .absoluted;
    z-index: 4
}

#absolute-img-container {
    &-1,
    &-2,
    &-3,
    &-4,
    &-5 {
        width: 40%;

        .absoluted;
    }

    &-1 {
        bottom: 70%;
        left: 0;

        max-width: 335px;
    }

    &-2 {
        top: -5%;
        right: 9%;

        max-width: 335px;
    }

    &-3 {
        right: 0;
        bottom: 60%;

        max-width: 576px;
    }

    &-4 {
        top: 5%;
        left: 15%;

        max-width: 392px;
    }

    &-5 {
          bottom: 21%;
          left: 20%;

        max-width: 544px;
    }
}
