@import url(_fonts);
@import url(_mainBtn);

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* Location of the image */
    background-image: url(/img/bg.png);
    /* Image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color: #464646;
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
        background-image: url(/img/bg_min.png);
    }
}

.container-fluid {
    padding: 0;
}



#wrapper {
    position: relative;
    z-index: 3;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -55px;

    &:before {
        background-color: black;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        content: "";
        z-index: 2;
    }
}

#header {
    padding-left: 40px;
    padding-top: 40px;
    position: relative;
    z-index: 10;
    a {
      display: inline-block;
      .logo {
          max-width: 235px;
          width: 100%;
          height: auto;
      }
    }
}

.parts {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .parts-holder {
        display: block;

        .absolute-img {
            position: absolute;
            display: block;
            list-style-type: none;

            img {}
        }
    }
}

#absolute-img-1 {
    left: 7%;
    bottom: 3%;
    width: 20%;
    max-width: 335px;
}

#absolute-img-2 {
    right: 7%;
    top: -3%;
    width: 25%;
    max-width: 335px;
}

#absolute-img-3 {
    right: 3%;
    bottom: 3%;
    width: 35%;
    max-width: 576px;
}

#absolute-img-4 {
    left: 13%;
    top: 12%;
    width: 30%;
    max-width: 392px;
}

#absolute-img-5 {
    left: 30%;
    bottom: -7%;
    width: 30%;
    max-width: 544px;
}

.content {
    text-align: center;
    color: #fff;
    padding-top: 180px;
    position: relative;
    z-index: 10;

    .caption {
        padding-bottom: 55px;

        h1 {
            font: 50px 'PTSans_Regular', Arial, sans-serif;
            text-transform: uppercase;
            margin: 0;
            padding-bottom: 45px;
        }

        p {
            font: 18px 'OpenSans-Light', Arial, sans-serif;
            padding: 7px;
            margin: 0;
        }

        .btn-primary {
            margin-top: 30px;
        }
    }
}

#footer {
    width: 100%;
    display: block;
    font: 14px 'OpenSans-Regular', Arial, sans-serif;
    height: 55px;
    background-color: black;
    color: #fff;
    padding: 20px;
    z-index: 10;
    position: relative;
}
@media screen and (max-width: 960px) {
    .content {
        padding-top: 120px;
        .caption {
            h1 {
                font-size: 40px;
                word-wrap: break-word;
            }

            p {
                font-size: 17px;
            }
        }
    }
}
@media screen and (max-width: 400px) {
  #header {
      padding-left: 20px;
      padding-top: 20px;
  }

    .content {
        padding-top: 35px;

        .caption {
            h1 {
                font-size: 30px;
                word-wrap: break-word;
                padding-bottom: 20px;
            }
        }
    }
}
